body {
  margin:0;
  background: #fff;
  font-family: Verdana, 'Arial Black', メイリオ, sans-serif;
 }

 /* ヘッダー */
 header{
   height:160px;
   /* background: radial-gradient(#FFF,#FFEFD5); */
   /* background: radial-gradient(#FFF,#FFDEAD);	 */
   background: radial-gradient(#fff,#FFC7AF);
  }

 .header-title{
  display:flex;
  justify-content: center;
  align-items: center;
 }

.header-title img{
  margin-top:24px;
  width:56px;
  height:56px;
 }

.header-title h1{
  color:#660000;
  margin:0;
  font-size:24px;
  margin-top:24px;
  margin-left:32px;
}

#nav {
  list-style: none;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  margin:0;
  padding:0;
  margin-top:24px;
  margin-right: 8%;
}

#nav h2 {
  font-weight: normal;
  color:#660000;
  font-size: 10px;
  margin:0;
  margin-right:14px;

}

#nav li{
  padding:0;
  margin:0;
  padding-right:8px;
  width:60px;
}

#nav li a {
  font-size: 12px;
  text-decoration: none;
  /* background:#FFDDFF; */
  background-color: white;
  color:#660000;
  border:1px solid #555555
  display: block;
  padding:4px;
  font-weight: bold;
  border-radius: 4px;
}



/* メイン */
main{
  margin:16px;
}

.top{
  color:#333333;
  border-bottom:2px solid #333333;
}
.top img{
  width:48px;
  height:48px;
  padding-left:16px;
  padding-top:16px;
}

.top-title{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100px;
}

.top-title h2{
  font-size: 16px;
  margin:0;
  margin-top:16px;
}

.top p{
  font-size:16px;
}

/* ０～２歳向け絵本 */
.sub-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction-1 h1{
  color:#FF82B2;
  text-align: center;
  font-size:22px;
  margin:0;
  margin-top: 40px;
  margin-bottom:24px;
}

.sub-title img{
  width:48px;
  height:48px;
  padding-left:16px;
}

.booklist-1 {
  border:6px solid #FF82B2;
  border-radius: 24px;
  text-align: center; 
  margin-top: 20px;
}

.booklist-1 img{
  width: 250px;
  height:250px;
  object-fit: cover;
  margin:48px;
}

.booklist-1 h3{
  margin:0 auto;
  color: #333333;
  border-bottom: 4px dotted #333333;
  width:90%;
  font-size: 20px;
}

.booklist-1 ul{
  list-style: none;
  color: #333333;
  text-align: left;
  font-size:16px;
  line-height: 1.79;
  background:radial-gradient(#FFF,#FFC7AF);
  /* background-color: #FFEFD5; */
  margin:0
  margin-top:16px;
}


.booklist-1 p{
  font-size:16px;
  margin:16px;
  text-align: left;
  line-height: 1.79;
}

/* ３～４歳向け絵本 */
.introduction-2 h1{
  color:#CD5C5C;
  text-align: center;
  font-size:22px;
  margin-top: 40px;
  margin-bottom:24px;
}

.booklist-2 {
  border:6px solid #CD5C5C;
  border-radius: 24px;
  text-align: center; 
  margin-top: 20px;
}

.booklist-2 img{
  width: 250px;
  height:250px;
  object-fit: cover;
  margin:48px;
}

.booklist-2 h3{
  margin:0 auto;
  color: #333333;
  border-bottom: 4px dotted #333333;
  width:90%;
  font-size: 20px;
}

.booklist-2 ul{
  list-style: none;
  color: #333333;
  text-align: left;
  font-size:16px;
  line-height: 1.79;
  background:radial-gradient(#FFF,#FFC7AF);
  /* background-color: #FFEFD5; */
  margin:0;
  margin-top:16px;
}


.booklist-2 p{
  font-size:16px;
  margin:16px;
  text-align: left;
  line-height: 1.79;
  
}
/* ５～６歳向け絵本 */
.introduction-3 h1{
  color:#A16EFF;
  text-align: center;
  font-size:22px;
  margin-top: 40px;
  margin-bottom:24px;
}

.booklist-3 {
  border:6px solid #A16EFF;
  border-radius: 24px;
  text-align: center; 
  margin-top: 20px;
}

.booklist-3 img{
  width: 250px;
  height:250px;
  object-fit: cover;
  margin:48px;
}

.booklist-3 h3{
  margin:0 auto;
  color: #333333;
  border-bottom: 4px dotted #333333;
  width:90%;
  font-size: 20px;
}

.booklist-3 ul{
  list-style: none;
  color: #333333;
  text-align: left;
  font-size:16px;
  line-height: 1.79;
  background:radial-gradient(#FFF,#FFC7AF);
  /* background-color: #FFEFD5; */
  margin:0;
  margin-top:16px;
}


.booklist-3 p{
  font-size:16px;
  margin:16px;
  text-align: left;
  line-height: 1.79;
  
}


/* フッター */
footer{
  height:200px;
  /* background: radial-gradient(#FFF,#FFEFD5); */
  /* background: radial-gradient(#FFF,#FFDEAD);	 */
  /* background:#FFDEAD; */
  /* background:#FFAD90; */
  background: #FFC7AF;
 }

 .footer-contents{
   height:200px;
   display:flex;
   justify-content: space-between;
   align-items: center;
 }

 footer h1{
  color:#660000;
  margin:0;
  font-weight:normal;
  font-size:22px;
  margin-left:8%;
  padding:16px;
}

footer h2{
  font-weight: normal;
  font-size:10px;
  color:#660000;
  margin:0;
  margin-top:10px;
  margin-right:40px;
  margin-bottom: 8px;
}

footer ul{
  display:flex;
  flex-direction: column;
  align-content: space-between;
  margin-right: 8%;
}

footer li {
  list-style: none;
  /* padding:8px; */
  font-weight: bold;
  border-radius: 4px;
  margin:8px;

}

footer li a{
  color:#660000;
  text-decoration: none;
  background-color: white;
  display: block;
  padding:4px;
  font-size:12px;
  width:60px;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;

}

/* レスポンシブ（大きい画面） */
@media (min-width: 900px) {

.top p{
 text-align: center;

}

/* レスポンシブ０～２歳向け絵本 */
.introduction-1{
  width:72%;
  margin:0 auto;
}

.booklist-title{
 display:flex;
 justify-content: center;
 flex-direction:row-reverse;
 align-items: center;
 border-bottom: 4px dotted #333333;
}

.booklist-title img{
  margin:32px;
}

.booklist-1 h3{
 border-bottom:none;
 margin:0;
 width:250px;
 margin-right: 20px;

}

.booklist-1 ul{
  margin:0;

}

.booklist-1 li:first-child {
  margin-top:16px;
}

/* レスポンシブ３～４歳向け絵本 */

.introduction-2{
  width:72%;
  margin:0 auto;
}

.booklist-2 h3{
 border-bottom:none;
 margin:0;
 width:250px;
 margin-right: 20px;

}

.booklist-2 ul{
  margin:0;

}

.booklist-2 li:first-child {
  margin-top:16px;
}

/* レスポンシブ５～６歳向け絵本 */

.introduction-3{
  width:72%;
  margin:0 auto;
}

.booklist-3 h3{
 border-bottom:none;
 margin:0;
 width:250px;
 margin-right: 20px;

}

.booklist-3 ul{
  margin:0;

}

.booklist-3 li:first-child {
  margin-top:16px;
}